.Lato{
    font-family: 'Lato', sans-serif;
    /*  */
}
.robotoBold{
    font-family: 'Roboto', sans-serif;
}
.emoji{
    font-family: emoji;
}
.bebas
{
font-family: 'Bebas Neue', cursive;
}
/* font-family: 'Kaisei Tokumin', serif;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */