
/* .category-slide{
padding-left: 20px !important;
padding-right: 20px !important;
} */
/* .slide{
    width:68% !important ;
    height: 60%;
} */
.categories{
    font-family: 'Chakra Petch', sans-serif;
    /* width:30% !important;
    margin-right: 30px; */
}

